.study-card:hover {
  background: rgba(0, 123, 255, 0.25);
  cursor: pointer;
}

.split-with-bullets *:not(:first-child)::before {
  content: ' • ';
}

.tooltip-inner {
  line-height: 1.1;
  max-width: 500px;
}

.tooltip-table {
  color: #f8f9fa !important;
}

.tooltip-table td {
  text-align: right !important;
}

.tooltip-table td:last-child {
  font-weight: bolder;
  padding-left: 5px;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#root > .tab-content {
  flex: 1;
  overflow: auto;
}

.nav-link{
  text-align: center;
}

.acc_property{
  text-align: right;
  display: inline-block;
  width: 230px;
  color: goldenrod;
}

.acc_value{
  display: inline;
}
.acc_property_h{
  display:inline-flex
}

.log_time {
  color: violet;
  display: inline;
}

.log_data {
  display: inline;
  margin-left: 10px;
}

.log_tooltip{
  white-space: pre-line;
}